<div class="mb-3">
  <h1 class="text-center text-3xl font-medium">Редагування книги</h1>
</div>
<form
  [formGroup]="updateForm"
  (ngSubmit)="handleSubmit()"
  class="w-1/3 m-auto p-10 border-2 rounded-2xl border-gray-300"
>
  <!-- title -->
  <div class="sm:col-span-4">
    <label for="title" class="block text-sm/6 font-medium text-black">Назва</label>
    <div class="mt-2">
      <input
        id="title"
        type="text"
        name="title"
        formControlName="title"
        autocomplete="title"
        class="block w-full rounded-md bg-black/10 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-700 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600 sm:text-sm/6"
      />
      @if (updateForm.get('title')?.touched && updateForm.get('title')?.invalid) {
        <small class="text-red-700 text-xs">Обов'язкове поле</small>
      }
    </div>
  </div>

  <!-- Author -->
  <div class="sm:col-span-4 mt-3">
    <label for="authorId" class="block text-sm/6 font-medium text-black">Автор</label>
    <div class="mt-2 grid grid-cols-1">
      <select
        id="authorId"
        name="authorId"
        formControlName="authorId"
        class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-black/10 py-1.5 pr-8 pl-3 text-base text-black outline-1 -outline-offset-1 outline-white/10 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600 sm:text-sm/6"
      >
        <option value="0">Невідомий</option>
        @for(author of authors(); track author.id) {
            <option value="{{ author.id }}">{{ author.name }}</option>
        }
      </select>
      <svg
        viewBox="0 0 16 16"
        fill="currentColor"
        data-slot="icon"
        aria-hidden="true"
        class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4"
      >
        <path
          d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
          fill-rule="evenodd"
        />
      </svg>
    </div>
  </div>

  <!-- description -->
  <div class="sm:col-span-4 mt-3">
    <label for="description" class="block text-sm/6 font-medium text-black">Опис</label>
    <div class="mt-2">
      <textarea
        id="description"
        name="description"
        formControlName="description"
        rows="3"
        class="block w-full rounded-md bg-black/10 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-700 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600 sm:text-sm/6"
      ></textarea>
    </div>
  </div>

  <!-- image -->
  <div class="sm:col-span-4 mt-3">
    <label for="image" class="block text-sm/6 font-medium text-black">Обкладинка</label>
    <div class="mt-2">
      <input
        id="image"
        type="text"
        name="image"
        formControlName="image"
        class="block w-full rounded-md bg-black/10 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
      />
    </div>
  </div>

  <!-- rating -->
  <div class="sm:col-span-4 mt-3">
    <label for="rating" class="block text-sm/6 font-medium text-black">Рейтинг</label>
    <div class="mt-2">
      <input
        id="rating"
        type="number"
        name="rating"
        formControlName="rating"
        min="0"
        max="5"
        class="block w-full rounded-md bg-black/10 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
      />
      @if (updateForm.get('rating')?.touched && updateForm.get('rating')?.invalid) {
        @if (updateForm.get('rating')?.errors?.['min']) {
          <small class="text-red-700 text-xs">Рейтинг не може бути меншим за 0</small>
        }
        @if (updateForm.get('rating')?.errors?.['max']) {
          <small class="text-red-700 text-xs">Рейтинг не може бути більшим за 5</small>
        }
      }
    </div>
  </div>

  <!-- price -->
  <div class="sm:col-span-4 mt-3">
    <label for="price" class="block text-sm/6 font-medium text-black">Ціна</label>
    <div class="mt-2">
      <input
        id="price"
        type="number"
        name="price"
        formControlName="price"
        min="0"
        class="block w-full rounded-md bg-black/10 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
      />
      @if (updateForm.get('price')?.touched && updateForm.get('price')?.invalid) {
        <small class="text-red-700 text-xs">Ціна не може бути меншою за 0</small>
      }
    </div>
  </div>

  <!-- numberOfPages -->
  <div class="sm:col-span-4 mt-3">
    <label for="numberOfPages" class="block text-sm/6 font-medium text-black">К-сть сторінок</label>
    <div class="mt-2">
      <input
        id="numberOfPages"
        type="number"
        name="numberOfPages"
        formControlName="numberOfPages"
        min="0"
        class="block w-full rounded-md bg-black/10 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
      />
      @if (updateForm.get('numberOfPages')?.touched && updateForm.get('numberOfPages')?.invalid) {
        <small class="text-red-700 text-xs">К-сть сторінок не може бути меншою за 0</small>
      }
    </div>
  </div>

  <!-- publishDate -->
  <div class="sm:col-span-4 mt-3">
    <label for="publishDate" class="block text-sm/6 font-medium text-black">Рік публікації </label>
    <div class="mt-2">
      <input
        id="publishDate"
        type="number"
        name="publishDate"
        formControlName="publishDate"
        min="0"
        class="block w-full rounded-md bg-black/10 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
      />
      @if (updateForm.get('publishDate')?.touched && updateForm.get('publishDate')?.invalid) {
        <small class="text-red-700 text-xs">Рік публікації не може бути меншим за 0</small>
      }
    </div>
  </div>

  <div class="text-center mt-5">
    <input
      class="font-medium bg-slate-400 text-black px-4 py-2 rounded-2xl w-1/3 hover:bg-slate-300 hover:cursor-pointer"
      type="submit"
      value="Зберегти"
    />
  </div>
</form>
