<div>
  <table class="table-fixed border-collapse" style="width: 80%">
    <thead>
      <tr class="border-b border-b-gray-400">
        <th class="text-center" style="width: 10%">Id</th>
        <th class="text-center" style="width: 10%">Фото</th>
        <th class="text-center" style="width: 40%">Назва</th>
        <th class="text-center" style="width: 8%">Рейтинг</th>
        <th class="text-center" style="width: 8%">Ціна</th>
        <th class="text-center" style="width: 19%">Автор</th>
        <th class="text-center" style="width: 5%">
          <a routerLink="create">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 hover:cursor-pointer hover:bg-gray-200 rounded-3xl"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </a>
        </th>
      </tr>
    </thead>
    @if (payload() != null) {
      <tbody>
        @for (book of payload()?.items; track book.id) {
          <tr class="border-b border-b-gray-400">
            <td class="text-center">{{ book.id }}</td>
            <td class="flex justify-center py-1">
              <img
                (error)="imageErrorHandle($event)"
                style="height: 75px; height: 75px; object-fit: contain"
                alt="{{ book.title }}"
                src="{{ book.image ? book.image : `/images/bookDefault.png` }}"
              />
            </td>
            <td class="text-center">{{ book.title }}</td>
            <td class="text-center">{{ book.rating }}</td>
            <td class="text-center">{{ book.price }}</td>
            <td class="text-center">{{ book.author ? book.author.name : '' }}</td>
            <td class="text-center">
              <a routerLink="update/{{ book.id }}">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 my-1 text-green-700 hover:cursor-pointer hover:bg-gray-200"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                  />
                </svg>
              </a>
              <svg
                (click)="deleteBook(book.id)"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-red-700 hover:cursor-pointer hover:bg-gray-200 rounded-3xl"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </td>
          </tr>
        }
      </tbody>
    }
  </table>
  <div
    style="width: 80%"
    class="flex items-center justify-between border-t border-white/10 px-4 py-3 sm:px-6"
  >
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-black">
          Showing
          <span class="font-medium">{{ getRange().start }}</span>
          to
          <span class="font-medium">{{ getRange().end }}</span>
          of
          <span class="font-medium">{{ payload()?.total_items }}</span>
          results
        </p>
      </div>
      <div>
        <nav aria-label="Pagination" class="isolate inline-flex -space-x-px rounded-md">
          <a
            href="#"
            class="relative inline-flex items-center rounded-l-md px-2 py-2 text-black inset-ring inset-ring-gray-700 hover:bg-white/5 focus:z-20 focus:outline-offset-0"
          >
            <span class="sr-only">Previous</span>
            <svg
              viewBox="0 0 20 20"
              fill="currentColor"
              data-slot="icon"
              aria-hidden="true"
              class="size-5"
            >
              <path
                d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              />
            </svg>
          </a>
          <!-- Current: "z-10 text-white focus-visible:outline-2 focus-visible:outline-offset-2 bg-indigo-500 focus-visible:outline-indigo-500", Default: "inset-ring focus:outline-offset-0 text-black inset-ring-gray-700 hover:bg-white/5" -->
          @for (p of getPages(); track p) {
            @if (p == payload()?.page) {
              <a
                href="#"
                aria-current="page"
                class="relative z-10 inline-flex items-center bg-slate-500 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                >{{ p }}</a
              >
            } @else {
              <a
                href="#"
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-black inset-ring inset-ring-gray-700 hover:bg-white/5 focus:z-20 focus:outline-offset-0"
                >{{ p }}</a
              >
            }
          }
          <a
            href="#"
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-black inset-ring inset-ring-gray-700 hover:bg-white/5 focus:z-20 focus:outline-offset-0"
          >
            <span class="sr-only">Next</span>
            <svg
              viewBox="0 0 20 20"
              fill="currentColor"
              data-slot="icon"
              aria-hidden="true"
              class="size-5"
            >
              <path
                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              />
            </svg>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
